{%extends 'base.html'%}
{%block content%}

<h1>Your Shopping cart</h1>

<table class="table">
    <thead>
        <tr class="table-active">
            <th>Image</th>
            <th>Product</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
       {%for item in cart%}
       {%with product=item.product%}
           <tr>
               <td style="width:3px; white-space:nowrap;">
                   <div class="col-md-10">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
                   </div>
               </td>
               <td style="width:3px; white-space:nowrap;"> {{ product.name }}</td>
               <td style="width:3px; white-space:nowrap;"> {{ item.price }} AUD</td>
               <td style="width:3px; white-space:nowrap;">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{action.update_quantity_form.quantity}}
                        {{item.update_quantity_form.override}}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td style="width:3px; white-space:nowrap;">
                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                        <input type="submit" value="Remove">
                        {% csrf_token %}


                    </form>
                </td>
                <td style="width:3px; white-space:nowrap;">{{item.total_price}} AUD </td>

            </tr>
        {% endwith %}
        {% endfor %}
        <tr class="table-active">
            <td colspan="4"></td>
            <td><b>TOTAL</b></td>
            <td><b>{{cart.get_total_price}} AUD </b></td>
        </tr>
    
               

    </tbody>
</table>
<p style="text-align : right">
    <a href="{%url 'home' %}"
         class = "btn btn-primary">
         Continue Shopping
    </a>
    <a href="{% url 'order:order_create' %}" class="btn btn-primary">
        Checkout
    </a>
</p>
{%endblock content%}
            